{% load static %}
<html>
    <head>
        <style>

#bg{
    background-size: 1800px 770px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
</style>
</head>


<body id="bg" style="background-image: url('{% static "images/desktop-wallpaper-healthy-food-diet-concepts-vegetables-nutrition.jpg"%}')";>

<h1>Signup</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have an account?</a>

</form>
</body>
</html>
